<div class="responsive-container mat-elevation-z8">
  <mat-form-field appearance="outline" class="responsive-form-field">
    <mat-label>Search and filter Events</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
  </mat-form-field>
  <table mat-table [dataSource]="eventLists" class="responsive-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let eventLists; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef>Event Name</th>
      <td mat-cell *matCellDef="let eventLists" routerLink="/details">
        {{ eventLists.eventName }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let eventLists">
        {{ eventLists.date | date }}
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let eventLists">
        {{ eventLists.time | date : "shortTime" }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="eventStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let eventLists">
        {{ eventLists.eventStatus }}
      </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="eventLocation">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let eventLists">
        {{ eventLists.eventLocation }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let eventLists">
        <span>
          <button
            mat-icon-button
            color="primary"
            aria-label="Edit Event"
            (click)="updateEvents(eventLists)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </span>

        <span>
          <button
            mat-icon-button
            color="warn"
            aria-label="Delete Event"
            (click)="deletEvent(eventLists.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
