<div class="dashboard">
  <h1>Event Analytics</h1>
  <div class="summary">
    <p><b>Total Events:</b> {{ totalEvents }}</p>
    <p *ngIf="nextUpcomingEvent">
      <b>Next Upcoming Event:</b> {{ nextUpcomingEvent.eventName }} on
      {{ nextUpcomingEvent.date | date : "longDate" }} at
      {{ nextUpcomingEvent.eventLocation }}
    </p>
  </div>

  <ngx-charts-pie-grid
    [results]="pieChartData"
    [scheme]="colorScheme"
    [animations]="true"
  >
  </ngx-charts-pie-grid>
</div>
