<mat-toolbar color="primary" class="responsive-toolbar">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Event Management</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" (click)="openDialog()">
    Add Event
  </button>
</mat-toolbar>

<mat-drawer-container class="responsive-drawer-container" autosize>
  <mat-drawer mode="over" opened="true" #drawer class="responsive-drawer">
    <mat-nav-list>
      <mat-list-item>
        <button
          mat-icon-button
          (click)="navigateToDash()"
          (click)="onSidebarButtonClick(drawer)"
          class="example-icon"
          aria-label="Example icon-button with dashboard icon"
        >
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          mat-icon-button
          (click)="navigateToEventList()"
          (click)="onSidebarButtonClick(drawer)"
          class="example-icon"
          aria-label="Example icon-button with event icon"
        >
          <mat-icon>event</mat-icon>
          Event List
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
