/* General Styles */
.responsive-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Adjust drawer width for mobile screens */
.responsive-drawer {
  width: 15%;
}

@media (max-width: 768px) {
  .responsive-drawer {
    width: 52vw;
    font-size: 10px;
  }

  .responsive-drawer-container {
    height: 100vh;
  }

  .responsive-toolbar {
    flex-wrap: wrap;
    padding: 8px;
  }
}
