<h1 mat-dialog-title *ngIf="!data?.eventData?.id">Add Your Event</h1>
<h1 mat-dialog-title *ngIf="data?.eventData?.id">Update Your Event</h1>

<div mat-dialog-content>
  <form [formGroup]="eventList">
    <!-- Event Name -->
    <mat-form-field appearance="outline">
      <mat-label>Event Name</mat-label>
      <input
        matInput
        formControlName="eventName"
        placeholder="Enter event name"
      />
    </mat-form-field>

    <!-- Event Date -->
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="date" />
      <mat-datepicker #datepicker />
      <mat-datepicker-toggle [for]="datepicker" matSuffix />
    </mat-form-field>

    <!-- Event Time -->
    <mat-form-field appearance="outline">
      <mat-label>Pick a time</mat-label>
      <input matInput [matTimepicker]="picker" formControlName="time" />
      <mat-timepicker-toggle matIconSuffix [for]="picker" />
      <mat-timepicker #picker />
    </mat-form-field>

    <!-- Event Status -->
    <mat-form-field appearance="outline">
      <mat-label>Event Status</mat-label>
      <mat-select
        formControlName="eventStatus"
        placeholder="Select event status"
      >
        <mat-option value="upcoming">Upcoming</mat-option>
        <mat-option value="ongoing">Ongoing</mat-option>
        <mat-option value="completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Event Location -->
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input
        matInput
        formControlName="eventLocation"
        placeholder="Enter event location"
      />
    </mat-form-field>
  </form>
</div>

<div
  mat-dialog-actions
  [align]="'end'"
  style="display: flex; gap: 16px; margin-left: 35px"
>
  <button mat-raised-button color="warn" (click)="close()">Close</button>
  <button
    mat-raised-button
    color="primary"
    (click)="postEventList()"
    *ngIf="!data?.eventData?.id"
  >
    Save
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="updateEvent()"
    *ngIf="data?.eventData?.id"
  >
    Update
  </button>
</div>
