mat-form-field {
  width: 90%;
  margin-left: 15px;
  padding: 0px 8px;
}

h1 {
  text-align: center;
}

@media (max-width: 768px) {
  mat-form-field {
    margin-left: 8px;
    padding: 0px 4px;
  }

  h1 {
    font-size: 18px;
  }

  div[mat-dialog-actions] {
    justify-content: center;
    gap: 8px;
    margin-left: 0;
  }
}
